<%- include("../partials/head",{title: "Config Dates"}) -%> 
<div class= "container">
    <div class="form-group">
       <div class="row">
        <div class="col-md-6">
        <label>Start Date:</label>
             <input class="form-control" type="datetime-local">
          </div>
          <div class="col-md-6">
          <label>End Date:</label>
            <input class="form-control" type="datetime-local">
          </div>
       </div>
       <div class="row">
            <button class="btn btn-primary" style="margin: 12px auto;" type="submit">Add New Appointment</button> 
       </div>
    </div>
</div>
<%- include("../partials/footer") -%>